*.png
*.jpg
train/
test/
tomo_00e463/
close_to_edge/
.python-version
.venv/
Keggle_test/
data/
detr_finetuned_cppe5/
yolos_base_finetuned_yolololos/
archive.tar.gz
packages/
ultralytics-for-offline-install/
yolosv2/
output_yolo_transformer/
yolov2_peochbefor/
coco/
random_predic/
rf-detr/